<!doctype html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="facebook-domain-verification" content="z6q8n0194kk313fzrwwion2g8wboxi" />
    <link rel="profile" href="https://gmpg.org/xfn/11">

    <!-- Facebook Pixel Code -->
    <script nonce="jiGOICE7">
        // Ваш код Facebook Pixel здесь
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=575933391263116&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->

    <script type="text/javascript">
        // Ваш код Google Analytics здесь
    </script>
    <title>Екоклуб &#8211; природоохоронна громадська організація &#8211; Офіційний сайт громадської організації
        &quot;Екоклуб&quot; з м. Рівне</title>
    <meta name='robots' content='max-image-preview:large' />
    <meta name="dlm-version" content="4.8.10">
    <link rel="alternate" href="https://ecoclubrivne.org/" hreflang="uk" />
    <link rel="alternate" href="https://ecoclubrivne.org/en/" hreflang="en" />
    <link rel='dns-prefetch' href='//kit.fontawesome.com' />
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel="alternate" type="application/rss+xml"
        title="Екоклуб - природоохоронна громадська організація &raquo; стрічка"
        href="https://ecoclubrivne.org/feed/" />
    <link rel="alternate" type="application/rss+xml"
        title="Екоклуб - природоохоронна громадська організація &raquo; Канал коментарів"
        href="https://ecoclubrivne.org/comments/feed/" />
    <script type="text/javascript">
        // Ваш код WP Emoji здесь
    </script>
</head>

<body>
    <!-- Здесь будет содержимое главной страницы -->
</body>

</html>